a{
    text-decoration: none;
}
a:link{
    color: black;
}
a:visited{
    color: black;
}
a:hover{
    color: #474BFF;
}
a.header_tag:link{
    padding: 0px 5px;
    color: #0000EE;
}
a.header_tag:visited{
    padding: 0px 5px;
    color: #0000EE;
}
a.header_tag:hover{
    padding: 0px 5px;
    color: #474BFF;
}
.ps_left{
    float: left;
}
.ps_right{
    float: right;
}
.clearfix:before,.clearfix:after {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}
.ps_page{
    margin-left: 10%;
    margin-right: 10%;
}
.ps_left{
    float: left;
}
.ps_right{
    float: right;
}
.travel_container ul.travel_cities{
    display: none;
}
.travel_pr:hover .travel_cities{
    z-index: 3;
    position:absolute;
    display: inline;
}
.travel_pr{
    display: inline;
    padding: 5px;
}
.header_mnav li{
    display: inline-block;
}
.header_mnav li:after{
    content:" |"
}
.header_mnav li:last-child:after{
    content:""
}
.header_tnav li{
    display: inline-block;
}
.header_tnav{
    float:right;
}
.header_tnav li:after{
    content:" |"
}
.header_tnav li:last-child:after{
    content:""
}
html, body {
    height: 100%;
}
footer{
    margin-top: 10px;
    border-top: 1px solid #ddd;
    font-size: 12px;
    text-align: center;
    color: rgba(0,0,0,.5);
}
footer p{
    line-height: 30px;
    margin: 0;
    padding: 0;
}